@font-face {
  font-family: "Marvel";
  src: url('./Marvel.ttf');
}
body{
  padding: 1rem;
  justify-content: space-around;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),url('./images/Background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
  font-family: 'Marvel';
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}
.logo {
  background: url('./images/logo.png');
  background-repeat: no-repeat;
  width: 20rem;
}
.logo--container{
  display: flex;
  flex-direction: column;
}
.subtitle{
  font-size: 1rem;
  color: white;
}
.score{
  display: flex;
  flex-direction: column;
  width: 10rem;
  background-color: white;
  font-size: 2rem;
  border-radius: 5px;
}
.score--title{
  font-size: 3rem;
  padding: 1rem;
  color: #ED1D24;
}
.player--score{
  width: 10rem;
  height: 2rem;
}
.computer--score{
  width: 10rem;
  height: 2rem;
  margin-bottom: .5rem;
}
.arena{
  display: flex;
  flex-direction: column;
  height: 30rem;
}
.player--container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 5px;
  border: solid 1px red;
  height: 12rem;
  margin: .1rem;
  background-color: white;
  padding: 1rem;
}

.computer--container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.computer__choose{
  border: solid 1px black;
  border-radius: 5px;
  margin: .1rem;
}
.footer--container{
  display: flex;
  justify-content: center;
  margin: .5rem;
}
footer{
  font-size: 1rem;
  border-radius: 5px;
  background-color: white;
}
.go--container{
  color: #ED1D24;
}
.arena--vertical{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
}
.player--container--vertical{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rock--vertical{
  background: url('./components/hulk.jpg');
  width: 15rem;
  height: 30rem;
  background-size: cover;
}
.paper--vertical{
  background: url('./components/ironman.jpg');
  width: 15rem;
  height: 30rem;
  background-size: cover;

}.scissors--vertical{
  background: url('./components/wolve.jpg');
  width: 15rem;
  height: 30rem;
  background-size: cover;
}
.computer__choose__vertical{
  display: flex;
  border-radius: 5px;
  width: 15rem;
  height: 30rem;
  margin: .1rem;
}
.computer--container--vertical{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title__weapon{
  font-size: 2rem;
  color: white;
}
.rock--computer--vertical{
  background: url('./components/ultron.jpg');
  background-size: cover;
  border: solid 1px black;
  border-radius: 5px;
  width: 15rem;
  height: 30rem;
}
.paper--computer--vertical{
  background: url('./components/magnus.jpg');
  background-size: cover;
  border: solid 1px black;
  border-radius: 5px;
  width: 15rem;
  height: 30rem;
}
.scissors--computer--vertical{
  background: url('./components/dr-doom.jpg');
  background-size: cover;
  border: solid 1px black;
  border-radius: 5px;
  width: 15rem;
  height: 30rem;
}
.title__computer{
  font-size: 2rem;
  color: white;
}

.result{
  color: white;
  font-size: 4rem;
}
