@font-face {
  font-family: "Marvel";
  src: url('./Marvel.ttf');
}
body{
  background-image: url('./images/back.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Marvel';
  text-align: center;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.logo {
  margin-top: .5rem;
  background: url('./images/logo.png');
  background-repeat: no-repeat;
  width: 20rem;
}
.logo--container{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.subtitle{
  font-size: 1rem;
  color: white;
}
.result{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 5rem;
  height: 4.5rem;
  border-radius: 5px;
  margin-bottom: .5rem;
  margin-left: 1rem;
  width: 91.5%;
}
.score{
  display: flex;
  flex-direction: column;
  width: 10rem;
  background-color: white;
  font-size: 2rem;
  border-radius: 5px;
}
.score--title{
  font-size: 3rem;
  padding: 1rem;
  color: #ED1D24;
}
.player--score{
  width: 10rem;
  height: 2rem;
}
.computer--score{
  width: 10rem;
  height: 2rem;
  margin-bottom: .5rem;
}
.arena--vertical{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.player--container--vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}
.rock--vertical, .paper--vertical, .scissors--vertical{
  display: flex;
  background: url('./components/thor.jpg');
  width: 15rem;
  height: 30rem;
  background-size: cover;
  border-radius: 5px;
  margin-right: 1rem;
}
.paper--vertical{
  display: flex;
  background: url('./components/ironman.jpg');
  background-size: cover;
}
.scissors--vertical{
  display: flex;
  background: url('./components/capi.jpg');
  background-size: cover;
}
.computer__choose__vertical{
  display: flex;
  border-radius: 5px;
  width: 15rem;
  height: 30rem;
  margin: .1rem;
  border-radius: 5px;
}
.computer--container--vertical{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 1rem;
}
.title__weapon, .title__computer{
  font-size: 2rem;
  color: white;
}
.rock--computer--vertical{
  display: flex;
  background: url('./components/ultron.jpeg');
  background-size: cover;
  border-radius: 5px;
  width: 15rem;
  height: 30rem;
}
.paper--computer--vertical{
  display: flex;
  background: url('./components/loki.png');
  background-size: cover;
  border-radius: 5px;
  width: 15rem;
  height: 30rem;
}
.scissors--computer--vertical{
  display: flex;
  background: url('./components/doom.jpg');
  background-size: cover;
  border-radius: 5px;
  width: 15rem;
  height: 30rem;
}
footer{
  color: black;
  font-size: .5rem;
  background: linear-gradient(to left, #9bbfeb, #ED1D24);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  margin-top: 1.5rem;
}
.footer__link{
  text-decoration: none;
}
.go--container{
    color: #ED1D24;
}
@supports (-webkit-touch-callout: none){
    /* CSS specific to iOS devices */ 
    footer{
        position: relative;
        bottom: 0;
    }
 }
@media (max-width: 1200px){
  .paper--vertical, .scissors--vertical, .rock--vertical{
    width: 12rem;
    margin-right: 1rem;
  }
  .scissors--vertical, .rock--vertical{
    background-position: right;
  }
  .result{
    font-size: 2.8rem;
    height: 100%;
  }
}
@media (max-width: 1024px){
  .header{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    width: 13rem;
    height: 7rem;
  }
  .score--title{
    padding: 0.2rem;
  }
  .result{
    font-size: 2.8rem;
    height: 100%;
  }
  .rock--vertical, .paper--vertical, .scissors--vertical{
    width: 9rem;
    margin-right: 1rem;
  }
  .paper--computer--vertical, .scissors--computer--vertical, .rock--computer--vertical{
    width: 12rem;
  }
  .scissors--vertical, .rock--vertical{
    background-position: right;
  }
}
@media (max-width: 900px){
  .header{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    width: 13rem;
    height: 7rem;
  }
  .score--title{
    height: 3rem;
    padding: 0;
    margin-top: 1rem;
    font-size: 2.5rem;
  }
  .result{
    font-size: 2.3rem;
    height: 100%;
  }
  .player--container--vertical{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .rock--vertical, .paper--vertical, .scissors--vertical{
    height: 18rem;
    width: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .rock--vertical{
    background-position: center;
    margin-bottom: 1rem;
  }
  .scissors--vertical{
    background-position: top;
    margin-bottom: 0rem; 
  }
  .paper--computer--vertical, .scissors--computer--vertical, .rock--computer--vertical{
    height: 57rem;
    width: 20rem;
  }
  .paper--computer--vertical, .scissors--computer--vertical{
    background-position: center;
  }
}
@media (max-width: 768px){
  .header{
    display: flex;
    flex-direction: column;
  }
  .logo--score--container{
    display: flex;
    justify-content: row;
    flex-wrap: wrap-reverse;
  }
  .logo{
    width: 6rem;
    height: 2rem;
  }
  .score--container{
    display: flex;
    justify-content: center;
  }
  .score{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 3rem;
    flex-direction: row;
    width: 20rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .score--title{
    font-size: 2rem;
    margin-left: 1rem;
  }
  .player--score{
    margin-bottom: .5rem;
  }
  .result{
    font-size: 3rem;
    padding: 0;
    height: 3rem;
    order: 2;
  }
  .player--container--vertical{
    display: flex;
    flex-direction: column;
  }
  .rock--vertical, .paper--vertical, .scissors--vertical{
    height: 9rem;
    width: 14rem;
    margin-bottom: 1rem;
  }
  .scissors--vertical{
    margin-bottom: 0;
    background-position: top;
  }
  .rock--vertical{
    background-position: center;
  }
  .paper--computer--vertical, .scissors--computer--vertical, .rock--computer--vertical{
    height: 30.5rem;
    width: 14rem;
  }
}
@media (max-width: 680px){
  .header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -1rem;
  }
  .logo--container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo{
    width: 6rem;
    height: 2rem;
  }
  .subtitle{
    font-size: .9rem;
  }
  .score--container{
    display: flex;
  }
  .score{
    display: flex;
    height: 2rem;
    flex-direction: row;
    width: 20rem;
    align-items: center;
    margin-bottom: 0.5rem;
    align-items: center;
  }
  .result{
    order: 2;
    font-size: 2rem;
    height: 2rem;
  }
  .player--container--vertical{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .rock--vertical, .paper--vertical, .scissors--vertical{
    height: 9rem;
    width: 9rem;
  }
  .rock--vertical{
    background-position: center;
    margin-bottom: 1rem;
  }
  .scissors--vertical{
    background-position: top;
  }
  .paper--vertical{
    margin-bottom: 1rem;
  }
  .paper--computer--vertical, .scissors--computer--vertical, .rock--computer--vertical{
    height: 30.5rem;
    width: 9.5rem;
  }
  .paper--computer--vertical, .scissors--computer--vertical{
    background-position: center;
  }
}